
<section id="createAccountForm">
    <form action="/account/create" method="POST">

    <legend>Create an Account</legend>
        <fieldset>
    <label for="userName">User Name:</label>
    <input type="text" name="userName"><br>
    <label for="zipCode">Zip Code:</label>
    <input type="text" name="zipCode"><br>
    <button type="submit">Create Account</button>
</fieldset>
    </form>
</section>