<section>
    <form action="/account/login" method="POST">
    <fieldset class="login-form">
        <legend>Enter Your Username</legend>
        <label for="userName">User Name:</label>
        <input type="text" name="userName"><br>
        <button type="submit">Login</button>
    </fieldset>
    </form>
</section>