<div class="feature-description">
  <!-- <h1>Holding Steady</h1>
  <p>Your Eco-Credit score is holding steady. Here are a few ways to push it up a notch. You've got it!</p> -->
  <ul>
    <h2>Go Local</h2>
    <li>Buy organic groceries from a local farmer</li>
    <li>Choose seasonal fruits and veggies</li>
    <li>Seek out foods with minimal packaging</li>
  </ul>
</div>