<div class="feature-description">
  <!-- <h1>Way to Go!</h1>
  <p>Your Eco-Credit score is rising, and your environmental impact is lowering. Continue making green lifestyle choices to make your score soar! Try one of these...</p> -->
  <ul>
    <h2>Avoid Single-Use</h2>
    <li>For beverages, try a reusable bottle, mug, or cup instead.</li>
    <li>Rather than popping open a new package of baggies, try a paper bag, sturdy reusable container, or wash a plastic bag you might have once thrown away</li>
  </ul>
</div>