<div>
  <h1>Let's Get Started</h1>
  <p>To build your score on Eco-Credit, you'll need to complete at least entry in your profile. In the meantime, here are a few ways to lead a greener lifestyle.</p>
  <ul>
    <h2>Save Energy</h2>
    <li>Unplug your charger when your phone is fully charged</li>
    <li>Line-dry laundry</li>
    <li>Switch off appliances, rather than leaving them on stand-by</li>
  </ul>
</div>