<div class="feature-description">
  <!-- <h1>Just a Snapshot</h1>
  <p>Looks like your Eco-Credit score has went down since last time, but don't worry. This is just one moment in time and here's an opportunity to make an improvement. Pick a new one and give it a try!</p> -->
  <ul>
    <h2>Save Water</h2>
    <li>Take a shorter shower, every minute makes a difference, or even...</li>
    <li>Install a low-flow / high-pressure shower head</li>
    <li>Turn off the water while brushing your teeth</li>
    <li>Use left over water from tea kettles to water your plants</li>
    <li>Check for leaks and fix any you find</li>
  </ul>
</div>