<section class="survey-form">
    <form action="/dashboard/map?username=<%= user %>" method="POST">
        <legend id="survey-title">What's Your Eco-Credit?</legend>
        <fieldset id="ecocredit-survey">
            <label for="shower">How many minutes per day do you Shower?</label>
            <input type="text" name="shower"><br>
            <label for="gas">How many gallons of gas per day do you use?</label>
            <input type="text" name="gas"><br>
            <label for="electricity">How much is your electric bill each month? (in USD)</label>
            <input type="text" name="electricity"><br>
            <button type="submit">Submit Survey</button>
        </fieldset>
    </form>
</section>