body {
  width: 960px;
  margin-left: 25%;
  margin-right: 25%;
}

header {
  width: 100%;
  height: 320px;

  display: flex;
  justify-content: flex-start;
}

nav {
  width: 95%;
  height: 40px;
  margin: 5px;
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
}