<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/account/update/?id=<%= id %>&username=<%= user.username%>&_overrideMethod=PUT" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" value="<%= user.username %>"><br>
    <label for="zipcode">Zipcode</label>
    <input type="text" name="zipcode" value="<%= zipcode %>"><br>
    <button type="submit">Update Account</button>
    </form>
</body>
</html>