<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/account/login">Login or create an account</a>
    <h1>Hello front End</h1>
<% if(loggedIn){ %>
    <h2><%= user.userName %></h2>

<% } %>
 
</body>
</html>