<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Credit</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
</head>

<body>

    <header>
        <p class="large-logo-text">Eco-Credit</p>
        <img src="images/linden-leaf.png" class="large-logo">
    </header>

    <nav>
        <% if(loggedIn){ %>
            <a href="/?username=<%= user %>" class="nav-link">
                <p>My Dashboard</p>
            </a>

            <p class="eco-credit-display">Eco-Credit: 100</p>

            <a href="/" class="account-link">
                <p>Logout</p>
                <img src="images/default_acct_icon.png" class="small-profile-pic">
            </a>
        <% } else { %>
            <a href="/" class="nav-link">
                <p>Home</p>
            </a>

            <a href="/account/login" class="account-link">
                <p>Login</p>
            </a>
        <% } %>        
    </nav>
    <% if(loggedIn){ %>
        <form action="/dashboard/survey?username=<%= user %>" method="get">
            <button type="submit" class="button-link">Take Survey</button> 
        </form>

        <form action="/dashboard/survey/update?username=<%= user %>" method="get">
            <button type="submit" class="button-link">Update Survey</button> 
        </form>

        <form action="/dashboard/suggestions?username=<%= user %>" method="get">
            <button type="submit" class="button-link">Suggestions</button> 
        </form>
    <% } %>

    <% if(!loggedIn){ %>
        <div class="feature-description" id="mission-statement">
            <h1>Who Are We?</h1>
            <p>Our mission is to give your local community the tools to create more sustainable and eco-friendly living,
                both for the planet and yourselves!</p>
        </div>
    <% } %>

    <div id="map-section">
        <select name="View Map Options" id="map-options">
            <option value="View Map Options">View Map Options</option>
        </select>
        <section id="map">Map</section>
    </div>

    <% if(!loggedIn){ %>
        <div class="feature-description" id="eco-cred-description">
            <h1>Monitor Your Eco-Credit</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi voluptas ut est totam
                repellendus ullam eveniet, doloremque ea fugit soluta! Iusto, quibusdam fugit dolor et neque est nemo!
                Atque.</p>
        </div>
    <% } %>

    <% if(!loggedIn){ %>
        <div class="feature-description" id="eco-map-description">
            <h1>Community Eco-Map</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi voluptas ut est totam
                repellendus ullam eveniet, doloremque ea fugit soluta! Iusto, quibusdam fugit dolor et neque est nemo!
                Atque.</p>
        </div>
    <% } %>

    <% if(!loggedIn){ %>
        <div class="feature-description" id="green-tips-description">
            <h1>Green Lifestyle Tips</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi voluptas ut est totam
                repellendus ullam eveniet, doloremque ea fugit soluta! Iusto, quibusdam fugit dolor et neque est nemo!
                Atque.</p>
        </div>
    <% } %>
</body>
<footer>
    <a href="">About Us</a>
</footer>

</html>