<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Credit</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/module.css">
</head>
<body>
    <section>
        <header>
            <p class="large-logo-text">Eco-Credit</p>
            <img src="images/linden-leaf.png" class="large-logo">
        </header>
        <nav>
            <a href="" class="account-link">
                <p>My Account</p> 
                <img src="images/linden-leaf.png" class="small-logo">
            </a>
        </nav>
        <div id="map-section">
            <select name="View Map Options" id="map-options">
                <option value="View Map Options">View Map Options</option>  
            </select>
            <section id="map">Map</section>
        </div>
        <div class="feature-description">
            <h1>Content</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi voluptas ut est totam repellendus ullam eveniet, doloremque ea fugit soluta! Iusto, quibusdam fugit dolor et neque est nemo! Atque.</p>
        </div>
    </section>

    <a href="/account/login">Login or create an account</a>
    <h1>Hello front End</h1>
<% if(loggedIn){ %>
    <h2><%= user %></h2>

<% } %>
</body>
<footer>
    <a href="">About Us</a>
</footer>
</html>